body {
    background-color: rgb(20, 19, 19);
    text-align: center;
    color: rgb(173, 173, 173);
}

.header{
    border-bottom: 5px solid rgb(1, 92, 1);
}

.info {
    text-align: left;
    list-style-type: none;
}